.header {
  height: 700px;
  width: 100%;
  background-image: url(../images/Bitmap.png);
  background-position: center;
  filter: contrast(110%);
  background-color: #686868;
  display: flex;
  flex-direction: column;
}
.header .top-blok {
  padding: 30px 0px;
  filter: contrast(200%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.header .top-blok .logo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
}
.header .top-blok .enters {
  height: 50px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header .top-blok .enters a {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #FFFFFF;
}
.header .top-blok .enters .sing {
  width: 90px;
  height: 36px;
  border: 1.5px solid #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header .top-blok .enters .log-in:hover a {
  text-decoration: underline;
}
.header .top-blok .enters .sing:hover {
  border: none;
  background-color: #ff9035;
}
.header .sharing-blok {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.header .sharing-blok h1 {
  width: 500px;
  height: 126px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  text-align: center;
  color: #FFFFFF;
}
.header .sharing-blok .sharing-text {
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  margin: 20px;
  display: flex;
  align-items: flex-end;
  color: #F7F3F2;
}
.header .sharing-blok .sharing-btn {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  width: 225px;
  height: 40px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #FF4E50;
  border-radius: 40px;
  cursor: pointer;
}
.header .sharing-blok .sharing-btn:hover {
  background-color: #ff9035;
}

.header::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(360deg, #FF4E50 0%, #F9D423 100%);
  opacity: 0.1;
}

.main .work {
  margin: 75px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .work .caption {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #444444;
}
.main .work .work-main {
  width: 940px;
  height: 461px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main .work .work-main .work-main_item1 {
  width: 300px;
  height: 400px;
  background-image: url(../images/Bitmap1.png);
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 4px;
}
.main .work .work-main .work-main_item1 .work-main-btn {
  margin: 20px 0;
  width: 70px;
  height: 20px;
  background: #FF4E50;
  border-radius: 40px;
  font-family: Montserrat;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  z-index: 1;
}
.main .work .work-main .work-main_item1 .work-main-btn:hover {
  background-color: #ff9035;
  cursor: pointer;
}
.main .work .work-main .work-main_item1 h2 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 10px 0;
  z-index: 1;
}
.main .work .work-main .work-main_item1 p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #E3E3E3;
  margin: 10px 0;
  z-index: 1;
}
.main .work .work-main .work-main_item1:hover {
  filter: brightness(115%);
}
.main .work .work-main .work-main_item1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.001) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 4px;
}
.main .work .work-main .work-main_item2 {
  width: 300px;
  height: 400px;
  background-image: url(../images/Bitmap2.png);
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 4px;
}
.main .work .work-main .work-main_item2 .work-main-btn {
  margin: 20px 0;
  width: 70px;
  height: 20px;
  background: #FF4E50;
  border-radius: 40px;
  font-family: Montserrat;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  z-index: 1;
}
.main .work .work-main .work-main_item2 .work-main-btn:hover {
  background-color: #ff9035;
  cursor: pointer;
}
.main .work .work-main .work-main_item2 h2 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 10px 0;
  z-index: 1;
}
.main .work .work-main .work-main_item2 p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #E3E3E3;
  margin: 10px 0;
  z-index: 1;
}
.main .work .work-main .work-main_item2:hover {
  filter: brightness(115%);
}
.main .work .work-main .work-main_item2 h2 {
  margin-bottom: 35px;
}
.main .work .work-main .work-main_item2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.001) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 4px;
}
.main .work .work-main .work-main_item3 {
  width: 300px;
  height: 400px;
  background-image: url(../images/Bitmap3.png);
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 4px;
}
.main .work .work-main .work-main_item3 .work-main-btn {
  margin: 20px 0;
  width: 70px;
  height: 20px;
  background: #FF4E50;
  border-radius: 40px;
  font-family: Montserrat;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  z-index: 1;
}
.main .work .work-main .work-main_item3 .work-main-btn:hover {
  background-color: #ff9035;
  cursor: pointer;
}
.main .work .work-main .work-main_item3 h2 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 10px 0;
  z-index: 1;
}
.main .work .work-main .work-main_item3 p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #E3E3E3;
  margin: 10px 0;
  z-index: 1;
}
.main .work .work-main .work-main_item3:hover {
  filter: brightness(115%);
}
.main .work .work-main .work-main_item3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.001) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 4px;
}

.partners {
  width: 941px;
  height: 361px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.partners .caption {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
}
.partners .contacts {
  display: flex;
  justify-content: space-;
  align-items: center;
}
.partners .contacts .contact1 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partners .contacts .contact1 .contact-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 126px;
  position: relative;
  cursor: pointer;
}
.partners .contacts .contact1 .contact-photo img {
  filter: contrast(115%);
  border-radius: 50%;
}
.partners .contacts .contact1 .contact-photo .contact-icon {
  width: 32px;
  height: 32px;
  display: flex;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90px;
  left: 90px;
  color: #FFFFFF;
  background: #000;
  cursor: pointer;
}
.partners .contacts .contact1 .contact-photo .contact-icon i {
  zoom: 0.8;
}
.partners .contacts .contact1 .contact-name {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 10px 0px;
}
.partners .contacts .contact1 .contact-info {
  text-align: center;
  width: 221px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
}
.partners .contacts .contact1:hover .contact-photo {
  filter: contrast(115%);
  border: 5px solid #FF4E50;
  border-radius: 50%;
}
.partners .contacts .contact1 .contact-photo .contact-icon {
  background-color: #FF4E50;
}
.partners .contacts .contact2 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partners .contacts .contact2 .contact-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 126px;
  position: relative;
  cursor: pointer;
}
.partners .contacts .contact2 .contact-photo img {
  filter: contrast(115%);
  border-radius: 50%;
}
.partners .contacts .contact2 .contact-photo .contact-icon {
  width: 32px;
  height: 32px;
  display: flex;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90px;
  left: 90px;
  color: #FFFFFF;
  background: #000;
  cursor: pointer;
}
.partners .contacts .contact2 .contact-photo .contact-icon i {
  zoom: 0.8;
}
.partners .contacts .contact2 .contact-name {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 10px 0px;
}
.partners .contacts .contact2 .contact-info {
  text-align: center;
  width: 221px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
}
.partners .contacts .contact2:hover .contact-photo {
  filter: contrast(115%);
  border: 5px solid #FF4E50;
  border-radius: 50%;
}
.partners .contacts .contact2 .contact-photo .contact-icon {
  background-color: #19D4CA;
}
.partners .contacts .contact3 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partners .contacts .contact3 .contact-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 126px;
  position: relative;
  cursor: pointer;
}
.partners .contacts .contact3 .contact-photo img {
  filter: contrast(115%);
  border-radius: 50%;
}
.partners .contacts .contact3 .contact-photo .contact-icon {
  width: 32px;
  height: 32px;
  display: flex;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90px;
  left: 90px;
  color: #FFFFFF;
  background: #000;
  cursor: pointer;
}
.partners .contacts .contact3 .contact-photo .contact-icon i {
  zoom: 0.8;
}
.partners .contacts .contact3 .contact-name {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 10px 0px;
}
.partners .contacts .contact3 .contact-info {
  text-align: center;
  width: 221px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
}
.partners .contacts .contact3:hover .contact-photo {
  filter: contrast(115%);
  border: 5px solid #FF4E50;
  border-radius: 50%;
}
.partners .contacts .contact3 .contact-photo .contact-icon {
  background-color: #FFA710;
}
.partners .contacts .contact4 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partners .contacts .contact4 .contact-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 126px;
  position: relative;
  cursor: pointer;
}
.partners .contacts .contact4 .contact-photo img {
  filter: contrast(115%);
  border-radius: 50%;
}
.partners .contacts .contact4 .contact-photo .contact-icon {
  width: 32px;
  height: 32px;
  display: flex;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90px;
  left: 90px;
  color: #FFFFFF;
  background: #000;
  cursor: pointer;
}
.partners .contacts .contact4 .contact-photo .contact-icon i {
  zoom: 0.8;
}
.partners .contacts .contact4 .contact-name {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 10px 0px;
}
.partners .contacts .contact4 .contact-info {
  text-align: center;
  width: 221px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
}
.partners .contacts .contact4:hover .contact-photo {
  filter: contrast(115%);
  border: 5px solid #FF4E50;
  border-radius: 50%;
}
.partners .contacts .contact4 .contact-photo .contact-icon {
  background-color: #667DF3;
}
.partners .partners-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  border: 2px solid #FF4E50;
  box-sizing: border-box;
  border-radius: 40px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #FF4E50;
  cursor: pointer;
}
.partners .partners-btn:hover {
  border: none;
  color: #FFFFFF;
  background-color: #ff9035;
}

@keyframes slayder {
  0% {
    background-image: url(../images/ideas4.png);
  }
  35% {
    background-image: url(../images/ideas4.png);
  }
  40% {
    background-image: url(../images/ideas5.png);
  }
  63% {
    background-image: url(../images/ideas5.png);
  }
  70% {
    background-image: url(../images/ideas6.png);
  }
  95% {
    background-image: url(../images/ideas6.png);
  }
  100% {
    background-image: url(../images/ideas4.png);
  }
}
.ideas {
  width: 940px;
  height: 1031px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px auto;
}
.ideas .ideas-caption {
  margin: 30px 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
}
.ideas .ideas-content .bloc1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ideas .ideas-content .bloc1 .sport {
  width: 300px;
  height: 310px;
  background-image: url(../images/ideas.png);
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.ideas .ideas-content .bloc1 .sport p {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  z-index: 1;
  text-align: center;
}
.ideas .ideas-content .bloc1 .sport:hover {
  filter: brightness(125%);
}
.ideas .ideas-content .bloc1 .sport:hover p {
  transition: all 0.5s;
  font-size: 24px;
  text-shadow: 2px 2px #2b2b2b;
}
.ideas .ideas-content .bloc1 .sport::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.001) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 4px;
}
.ideas .ideas-content .bloc1 .wellnes {
  width: 300px;
  height: 310px;
  background-image: url(../images/ideas1.png);
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.ideas .ideas-content .bloc1 .wellnes p {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  z-index: 1;
  text-align: center;
}
.ideas .ideas-content .bloc1 .wellnes:hover {
  filter: brightness(125%);
}
.ideas .ideas-content .bloc1 .wellnes:hover p {
  transition: all 0.5s;
  font-size: 24px;
  text-shadow: 2px 2px #2b2b2b;
}
.ideas .ideas-content .bloc1 .wellnes::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.001) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 4px;
}
.ideas .ideas-content .bloc1 .extreme {
  width: 300px;
  height: 310px;
  background-image: url(../images/ideas2.png);
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.ideas .ideas-content .bloc1 .extreme p {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  z-index: 1;
  text-align: center;
}
.ideas .ideas-content .bloc1 .extreme:hover {
  filter: brightness(125%);
}
.ideas .ideas-content .bloc1 .extreme:hover p {
  transition: all 0.5s;
  font-size: 24px;
  text-shadow: 2px 2px #2b2b2b;
}
.ideas .ideas-content .bloc1 .extreme p {
  padding: 50px;
}
.ideas .ideas-content .bloc1 .extreme::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.001) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 4px;
}
.ideas .ideas-content .bloc2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ideas .ideas-content .bloc2 .game {
  width: 300px;
  height: 310px;
  background-image: url(../images/ideas3.png);
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.ideas .ideas-content .bloc2 .game p {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  z-index: 1;
  text-align: center;
}
.ideas .ideas-content .bloc2 .game:hover {
  filter: brightness(125%);
}
.ideas .ideas-content .bloc2 .game:hover p {
  transition: all 0.5s;
  font-size: 24px;
  text-shadow: 2px 2px #2b2b2b;
}
.ideas .ideas-content .bloc2 .game::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.001) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 4px;
}
.ideas .ideas-content .bloc2 .culture {
  width: 620px;
  height: 310px;
  animation: slayder 6s linear infinite;
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.ideas .ideas-content .bloc2 .culture p {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  z-index: 1;
  text-align: center;
}
.ideas .ideas-content .bloc2 .culture:hover {
  filter: brightness(125%);
}
.ideas .ideas-content .bloc2 .culture:hover p {
  transition: all 0.5s;
  font-size: 24px;
  text-shadow: 2px 2px #2b2b2b;
}
.ideas .ideas-content .bloc2 .culture::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.001) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 4px;
}
.ideas .ideas-content .bloc3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ideas .ideas-content .bloc3 .enjomet {
  width: 620px;
  height: 310px;
  background-image: url(../images/ideas7.png);
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.ideas .ideas-content .bloc3 .enjomet p {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  z-index: 1;
  text-align: center;
}
.ideas .ideas-content .bloc3 .enjomet:hover {
  filter: brightness(125%);
}
.ideas .ideas-content .bloc3 .enjomet:hover p {
  transition: all 0.5s;
  font-size: 24px;
  text-shadow: 2px 2px #2b2b2b;
}
.ideas .ideas-content .bloc3 .enjomet::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.001) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 4px;
}
.ideas .ideas-content .bloc3 .travelling {
  width: 300px;
  height: 310px;
  background-image: url(../images/ideas8.png);
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.ideas .ideas-content .bloc3 .travelling p {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  z-index: 1;
  text-align: center;
}
.ideas .ideas-content .bloc3 .travelling:hover {
  filter: brightness(125%);
}
.ideas .ideas-content .bloc3 .travelling:hover p {
  transition: all 0.5s;
  font-size: 24px;
  text-shadow: 2px 2px #2b2b2b;
}
.ideas .ideas-content .bloc3 .travelling::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.001) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 4px;
}

.search {
  width: 482px;
  height: 158px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search .search-caption {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
}
.search .search-text {
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  line-height: 14px;
  color: #666666;
  margin-top: 40px;
}
.search .search-base {
  width: 482px;
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.search .search-base input {
  width: 299px;
  height: 40px;
  border: 1px solid #D4D4D4;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  padding: 10px;
}
.search .search-base .search-btn {
  width: 172.12px;
  height: 40px;
  margin: 0 10px;
  background: #FF4E50;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
}
.search .search-base .search-btn:hover {
  background-color: #ff9035;
}

.footer {
  width: 100%;
  height: 224px;
  border-top: 2px solid #FF4E50;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footer .logo {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  color: #FF4E50;
}
.footer .footer-partners {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}
.footer .company .caption {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}
.footer .company .link-list ul {
  list-style-type: none;
}
.footer .company .link-list ul a {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}
.footer .company .link-list ul a:hover {
  color: #FF4E50;
}
.footer .company-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  color: #CCCCCC;
}

@media screen and (max-width: 425px) {
  .header {
    height: 550px;
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    background-size: cover;
    background-image: url(../images/headerSm.png);
    background-color: #000000;
  }
  .header .top-blok {
    flex-direction: column-reverse;
    padding-top: 20px;
    padding-bottom: 0;
  }
  .header .top-blok .logo {
    margin-top: 100px;
    font-size: 20px;
  }
  .header .sharing-blok {
    width: 281px;
    height: 234px;
    margin: 0 auto;
  }
  .header .sharing-blok h1 {
    height: 74px;
    width: 286px;
    font-size: 30px;
    line-height: 37px;
    margin: 10px;
  }
  .header .sharing-blok .sharing-text {
    width: 280px;
    font-size: 18px;
    text-align: center;
    margin: 10px;
  }
  .header .sharing-blok .sharing-btn {
    margin: 0;
  }

  .main .work {
    width: 300px;
    height: 781px;
    margin: 10px auto;
  }
  .main .work .caption {
    font-size: 22px;
    margin: 0px auto;
  }
  .main .work .work-main {
    height: 740px;
    width: 300px;
    flex-direction: column;
  }
  .main .work .work-main div[class*=work-main_item] {
    width: 300px;
    height: 240px;
  }
  .main .partners {
    width: 300px;
    height: 998px;
    margin: 20px auto;
  }
  .main .partners .caption {
    font-size: 22px;
    text-align: center;
  }
  .main .partners .contacts {
    flex-direction: column;
  }
  .main .ideas {
    width: 300px;
    height: 998px;
    margin: 10px auto;
  }
  .main .ideas .ideas-caption {
    width: 260px;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin: 20px auto;
  }
  .main .ideas .ideas-content div[class*=bloc] {
    flex-direction: column;
  }
  .main .ideas .ideas-content div[class*=bloc] div {
    width: 300px;
    height: 120px;
    margin: 5px auto;
    background-position: center;
  }
  .main .ideas .ideas-content div[class*=bloc] div p {
    font-size: 22px;
  }
  .main .search {
    width: 300px;
    height: 210px;
    margin: 20px auto;
  }
  .main .search .search-caption {
    width: 280px;
    height: 54px;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin: 20px auto;
  }
  .main .search .search-text {
    margin: 0px auto;
  }
  .main .search .search-base {
    width: 300px;
    flex-direction: column;
    margin: 0px auto;
  }
  .main .search .search-base input {
    margin: 10px auto;
  }

  .footer {
    max-width: 425px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .footer .company {
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .company .link-list ul {
    width: 280px;
    height: 52px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer .company .link-list ul li {
    margin: 0 5px;
  }
  .footer .footer-partners {
    margin: 5px 0;
  }
}
@media screen and (max-width: 968px) and (min-width: 426px) {
  .header {
    height: 700px;
    width: 100%;
    min-width: 768px;
    margin: 0 auto;
  }

  .main .work {
    width: 748px;
    height: 461px;
    margin: 10px auto;
  }
  .main .work .caption {
    font-size: 22px;
    margin: 0px auto;
  }
  .main .work .work-main {
    width: 748px;
  }
  .main .work .work-main div[class*=work-main_item] {
    width: 236px;
    height: 400px;
  }
  .main .partners {
    width: 492px;
    height: 605px;
    margin: 20px auto;
  }
  .main .partners .caption {
    font-size: 22px;
    text-align: center;
  }
  .main .partners .contacts {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main .ideas {
    width: 748px;
    height: 1031px;
    margin: 10px auto;
  }
  .main .ideas .ideas-caption {
    width: 260px;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin: 0 auto;
  }
  .main .ideas .ideas-content {
    width: 748px;
  }
  .main .ideas .ideas-content div[class*=bloc] .enjomet, .main .ideas .ideas-content div[class*=bloc] .culture {
    width: 492px;
    height: 310px;
  }
  .main .ideas .ideas-content div[class*=bloc] div {
    width: 236px;
    height: 310px;
    margin: 5px auto;
    background-position: center;
  }
  .main .ideas .ideas-content div[class*=bloc] div p {
    font-size: 22px;
  }
  .main .search {
    margin: 5px auto;
  }

  .footer {
    min-width: 768px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }
  .footer .company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footer .footer-partners {
    margin: 5px 0;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

.wrapper {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
